header{
    background-color: #261d35;
    padding: 15px;
    display: flex;
    justify-content: center;
    font-family: Monaco, Consolas, monospace;
    text-shadow: 0 0 2px white;
}

h2{
    color: #F7F5FB; 
}

ul{
    list-style-type:none;
    overflow:hidden;
    margin: 0;
    padding: 0;
}

li{
    color: #F7F5FB; 
    display: block;
    float: left;
    padding: 16px;
}