
.container{
    //background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:auto;
    padding: 30px;
    margin: 10px;
}

.title{
    color:white;
    //background-color: red;
    width: 100%;
    text-shadow: 0 0 5px #C8C8C8;
    
}

.no-screen{
    padding: 2px;
    width: 80%;

}

.hide{
    display: none;
}

h2{
    font-family: Consolas, "Courier New", monospace;

}

p{
    color: white;
}

