
.container{
    //background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1500px;
    padding: 30px;
    margin: 30px;
}

.title{
    color:white;
    //background-color: red;
    width: 100%;
    text-shadow: 0 0 5px #C8C8C8;
    
}

.no-screen{
    padding: 2px;
    width: 80%;

}

.screen{
    background-color: #c0c0c0;
    box-shadow: 4px 4px 5px black;
    padding: 2px;
    width: 80%;
    
    
}

.content{
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.program-header{
    
    //background-color: #1f235c;
    background: linear-gradient(to right, #2a3b5a, #4a6b8f, #98a9c2);
    border: black;
    //box-shadow: 4px 4px 5px black;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box; 
    border: 2px solid black;
    width: 100%;
    font-family: Monaco, Consolas, monospace;
    text-shadow: 0 0 3px white;
}

.hide{
    display: none;
}

h2{
    font-family: Consolas, "Courier New", monospace;

}

p{
    color: white;
}

