.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    
}

.desc{
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.img{
    background-color: gray;
    width: 300px;
    height: 300px;
}

h2,h3{
    font-family: Monaco, Consolas, monospace;
}

h3{
    margin: 2px;
}