<div class="home-page">
    <app-content-container [title] ="''">
        <app-about-me/>
    </app-content-container>

    <app-content-container  [showBackground]=true >
        <app-screen [title] = "'System Descriptions'">
            <app-multi-picker/>
        </app-screen>
        

        
    </app-content-container>


    <app-content-container   [showBackground]=true >
        <app-screen [title] = "'Properties Skills'">
            <app-skill-selector/>
        </app-screen>
    </app-content-container>



    <app-content-container  [showBackground]=true>
        <app-screen [title] = "'Show Projects'">
            @for(project of projectList; track project._id){
                <app-project [title]="project.name" [desc] = "project.desc" [img] = "'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzDYmjwWxxTktF0N5pcQGMvsLZF7_CEqMN2A&s'"/>
            }
        </app-screen>

    
    </app-content-container>

</div>
