<div class="home-page">
    <app-content-container [title] ="'Guest@linux:~$ screenfetch'">
        <app-about-me/>
    </app-content-container>



    <app-content-container [title] = "'Guest@linux:~$ show-skills'">
        <app-skill/>
        <app-skill/>
        <app-skill/>
        <app-skill/>
        <app-skill/>
        <app-skill/>
        <app-skill/>
        <app-skill/>
        <app-skill/>
        
    </app-content-container>

    <app-content-container [title] = "'Guest@linux:~$ show-projects'">
        <app-project/>
    </app-content-container>
    
</div>
