<div class = "multi-picker">

    <div class = "picker">

        <button *ngFor="let tab of tabs" (click) = "selected = tab" id="selected == tab ? 'select' : '' ">
            {{tab}}
        </button>


  
    </div>
    <div class = "display">
        <p>Hey, welcome to my website!!!</p>

        <p> I've recently finished my bachalours of Computer Science, and currenty taking on a honour year.</p>

        <p> I've recently finished my bachalours of Computer Science, and currenty taking on a honour year.</p>

        <p> I've recently finished my bachalours of Computer Science, and currenty taking on a honour year.</p>

        <p> I've recently finished my bachalours of Computer Science, and currenty taking on a honour year.</p>
    </div>

</div>
