.skill{
    background-color: gray;
    width: 150px;
    height: 150px;
    margin: 1px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    color: white;
}