.skill{
    //background-color: gray;
    display: flex;
    
    width: 125px;
    height: 200px;
    margin: 5px;
    //border-top: 3px solid white;
    //border-left: 3px solid white;
    //border-right: 3px solid black;
    //border-bottom: 3px solid black;
    color:black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Monaco, Consolas, monospace;
    text-shadow: 0 0 1px black;
}

.desc{
    display: none;
    background-color: #feff9c;
    width: 200px;
    height: 200px;

}

.skill:hover .desc{
    display: block;
}